## 드라이브 연동

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 데이터 불러오기
- 왼쪽 파일 탭에서 새로고침 클릭
- Lemonade2016.csv파일 마우스 우클릭 --> 경로복사
- DATA_PATH = "ctrl + v"

In [10]:
DATA_PATH = "/content/drive/MyDrive/Colab Notebooks/Lemonade2016.csv"
DATA_PATH

'/content/drive/MyDrive/Colab Notebooks/Lemonade2016.csv'

In [11]:
import pandas as pd

lemonade = pd.read_csv(DATA_PATH)
lemonade

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
0    7/1/2016     Park     97      67           70      90.0   0.25
1    7/2/2016     Park     98      67           72      90.0   0.25
2    7/3/2016     Park    110      77           71     104.0   0.25
3    7/4/2016    Beach    134      99           76      98.0   0.25
4    7/5/2016    Beach    159     118           78     135.0   0.25
5    7/6/2016    Beach    103      69           82      90.0   0.25
6    7/6/2016    Beach    103      69           82      90.0   0.25
7    7/7/2016    Beach    143     101           81     135.0   0.25
8         NaN    Beach    123      86           82     113.0   0.25
9    7/9/2016    Beach    134      95           80     126.0   0.25
10  7/10/2016    Beach    140      98           82     131.0   0.25
11  7/11/2016    Beach    162     120           83     135.0   0.25
12  7/12/2016    Beach    130      95           84      99.0   0.25
13  7/13/2016    Beach    109      75           77      99.0   0.25
14  7/14/2016    Beach    122      85           78     113.0   0.25
15  7/15/2016    Beach     98      62           75     108.0   0.50
16  7/16/2016    Beach     81      50           74      90.0   0.50
17  7/17/2016    Beach    115      76           77     126.0   0.50
18  7/18/2016     Park    131      92           81     122.0   0.50
19  7/19/2016     Park    122      85           78     113.0   0.50
20  7/20/2016     Park     71      42           70       NaN   0.50
21  7/21/2016     Park     83      50           77      90.0   0.50
22  7/22/2016     Park    112      75           80     108.0   0.50
23  7/23/2016     Park    120      82           81     117.0   0.50
24  7/24/2016     Park    121      82           82     117.0   0.50
25  7/25/2016     Park    156     113           84     135.0   0.50
26  7/26/2016     Park    176     129           83     158.0   0.35
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

- 정보확인
- 32entries 중 31 non-null : 중간에 값이 없다.

In [12]:
lemonade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

In [5]:
lemonade.head(3)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25

In [7]:
lemonade.tail(3)

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

- 통계(평균) - 빈도주의, 베이지안이 존재

In [8]:
lemonade.describe() # .describe() : pandas객체의 설명적 통계량(descriptive static)들을 생성하는데 사용된다.
                    #               설명정 통계량에는 NaN값을 제외한 데이터 집합 분포의 형상, 중심 경향, 분산을 요약하는 것들이 포함된다.
                    #               이 메소드는 수치 및 객체 Series와 여러 데이터 타입을 포함하는 DataFrame 열의 집합을 분석할 수 있다.

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354688
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

- 문자형 데이터의 갯수 파악 시, 유용하게 사용

In [85]:
lemonade['Location'].value_counts(normalize = True) #.value_counts() : 열에 있는 모든 고윳값(unique value)의 개수를 반환한다.
# normalize : 정규화하다(정규화란 무언가를 표준화(여기서는 확률로 변환) 시키거나 다른 것과 비교하기 쉽도록 바꾸는 것을 의미)

Beach    0.53125
Park     0.46875
Name: Location, dtype: float64

## 데이터 핸들링
- 행과 열을 다루는 방법

In [17]:
lemonade.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

- 새로운 칼럼(Column : 열) 추가

In [18]:
lemonade['Sold'] = 0
lemonade.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25     0
1  7/2/2016     Park     98      67           72      90.0   0.25     0
2  7/3/2016     Park    110      77           71     104.0   0.25     0
3  7/4/2016    Beach    134      99           76      98.0   0.25     0
4  7/5/2016    Beach    159     118           78     135.0   0.25     0

In [19]:
lemonade['Sold'] = lemonade['Lemon'] + lemonade['Orange']
lemonade.head(3)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

- Revenue 칼럼 : 매출 계산

In [21]:
lemonade['Revenue'] = lemonade['Price'] * lemonade['Sold']
lemonade.head(3)

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75

## 특정 칼럼 삭제

In [93]:
# axis = 1.컬럼을 삭제하겠다!
lemonade_col_drop = lemonade.drop('Sold', axis = 1) # axis = 0 : row, axis = 1 : column 를 의미미 
lemonade_col_drop.head(3)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
0  7/1/2016     Park     97      67           70      90.0   0.25    41.00
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75

In [25]:
# axis = 0, 조건에 맞는 행을 삭제하겠다.
lemonade_row_drop = lemonade.drop(0, axis = 0)
lemonade_row_drop.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00

In [101]:
lemonade_row_drop = lemonade.drop(3, axis = 0) # index = 3 인 행 삭제
lemonade_row_drop.reset_index(drop=True) # index = 3인 행을 삭제한 데이터를 index가 0번째부터 순차적으로 시작하도록 변환

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
3,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
4,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
7,NaN,Beach,123,86,82,113.0,0.25,209,52.25
8,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
9,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
10,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
11,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
12,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
13,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
14,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
15,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
16,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
17,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
18,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
19,7/20/2016,Park,71,42,70,NaN,0.50,113,56.50
20,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
21,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
22,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
23,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
24,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
25,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
26,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
27,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
28,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
29,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
30,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05

- 행을 삭제한 후, 인덱스 번호를 초기화
  - 0번째~순차적으로 시작하도록 변환

##데이터 인덱싱

In [106]:
lemonade[0:10:2] # lemonade[start : end : 간격]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25

## 데이터 추출
- 조건식을 사용해서 데이터를 추출(조건식에서 참(True)인 값만 추출)

In [28]:
lemonade['Location'] == 'Beach' # 결과값은 True, False

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
Name: Location, dtype: bool

In [27]:
lemonade[lemonade['Location'] == 'Beach']

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05

In [29]:
lemonade.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25

In [111]:
# iloc : 행과 열의 정수 위치를 기반으로 하는 인덱싱에 사용된다.
print(lemonade.iloc[0:3, 0:2]) # [행start : 행end, 열start : 열end] 마지막 index는 포함 x

print(lemonade.iloc[0:4, 0:3]) # [행start : 행end, 열start : 열end] 마지막 index는 포함 x

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park
       Date Location  Lemon
0  7/1/2016     Park     97
1  7/2/2016     Park     98
2  7/3/2016     Park    110
3  7/4/2016    Beach    134

In [32]:
# loc : 라벨을 기반으로 하는 인덱싱에 사용된다.
lemonade.loc[0:2, ['Date', 'Location']] #[행start : 행end, ['열start라벨','열end라벨']]

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

- 행과 열을 동시에 처리 --> loc만 처리

In [33]:
lemonade.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25

In [115]:
      #                    행 추출 조건식            열 추출
result = lemonade.loc[lemonade['Revenue']>100, ['Date','Revenue']].reset_index(drop=True) # .reset_index(drop=True) : 조건을 만족하는 행과 열의 데이터중 index가 0번째부터 순차적으로 시작하도록 변환
result

        Date  Revenue
0  7/18/2016   111.50
1  7/19/2016   103.50
2  7/23/2016   101.00
3  7/24/2016   101.50
4  7/25/2016   134.50
5  7/26/2016   106.75

In [43]:
result = lemonade.loc[lemonade['Temperature'] >= 78, ['Temperature','Leaflets', 'Price']].reset_index(drop=True)
result

    Temperature  Leaflets  Price
0            78     135.0   0.25
1            82      90.0   0.25
2            82      90.0   0.25
3            81     135.0   0.25
4            82     113.0   0.25
5            80     126.0   0.25
6            82     131.0   0.25
7            83     135.0   0.25
8            84      99.0   0.25
9            78     113.0   0.25
10           81     122.0   0.50
11           78     113.0   0.50
12           80     108.0   0.50
13           81     117.0   0.50
14           82     117.0   0.50
15           84     135.0   0.50
16           83     158.0   0.35
17           80      99.0   0.35
18           82      90.0   0.35
19           81      95.0   0.35
20           82      81.0   0.35
21           82      68.0   0.35

## 정렬
- 데이터 프레임 정렬함
- 참조 : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

In [46]:
lemonade.sort_values(by=['Revenue'], ascending=False).head()
# 'Revenue'열 값을 기준으로 ascending = False : 내림차순으로 정렬

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50

In [48]:
lemonade[['Leaflets', 'Revenue']].sort_values(by=['Leaflets', 'Revenue'], ascending=[False, True]).head() 
# 'Leaflets'열 값을 기준으로 ascending=False : 내림차순으로 정렬, 'Revenue'열 값을 기준으로 ascending=True : 오름차순으로 정렬

    Leaflets  Revenue
26     158.0   106.75
7      135.0    61.00
4      135.0    69.25
11     135.0    70.50
25     135.0   134.50

In [59]:
lemonade[['Leaflets', 'Revenue']].sort_values(by=['Leaflets', 'Revenue'], ascending=False).head()
# 'Leaflets'열 값을 기준으로 ascending=False : 내림차순으로 정렬, 'Revenue'열 값을 기준으로 ascending=False : 내림차순으로 정렬

    Leaflets  Revenue
26     158.0   106.75
25     135.0   134.50
11     135.0    70.50
4      135.0    69.25
7      135.0    61.00

- 참고 : https://bigdaheta.tistory.com/44

## Group by
- SQL Groupby 기능적으로 동일 --> Location 컬럼만 사용

In [117]:
lemonade.groupby(by='Location').count().T # .T : transfer 행과 열을 바꾸는 함수

Location     Beach  Park
Date            16    15
Lemon           17    15
Orange          17    15
Temperature     17    15
Leaflets        17    14
Price           17    15
Sold            17    15
Revenue         17    15

### 집계함수(Aggregation)
- 그룹바이 및 집계 --> 피벗테이블
- 참고 : https://teddylee777.github.io/pandas/pandas-groupby/

In [55]:
import numpy as np
lemonade.groupby('Location')['Revenue'].agg([max, min, np.mean]) 
# .groupby() : 그룹을 결정

            max   min       mean
Location
Beach      95.5  43.0  58.988235
Park      134.5  41.0  78.546667

In [57]:
import numpy as np
lemonade.groupby('Location')[['Revenue', 'Temperature']].agg([max, min, np.mean, np.std, sum])
# max : 최댓값, min : 최솟값, mean : 평균값, std : 표준편차, sum : 합계

         Revenue                                     Temperature      \
             max   min       mean        std     sum         max min
Location
Beach       95.5  43.0  58.988235  14.075328  1002.8          84  74
Park       134.5  41.0  78.546667  30.013482  1178.2          84  70


               mean       std   sum
Location
Beach     79.705882  3.077432  1355
Park      78.133333  4.940600  1172

## 샘플 데이터 불러오기

In [61]:
import seaborn as sns
import pandas as pd
import numpy as np

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

- iris 데이터셋

In [63]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

- 판다스 데이터 분석 96p

In [64]:
iris['sepal_length'].std()

0.828066127977863

In [66]:
iris.info()  # 결측치 : 비어있는 값

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [69]:
iris.shape

(150, 5)

In [68]:
iris.values.shape

(150, 5)

In [72]:
result = list(iris.columns)
result

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

- 문제
- species 칼럼이 setosa인 것만 전체 조회

In [75]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [77]:
result = iris[iris['species'] == 'setosa']
result.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

- sepal_width 3보다 작은 데이터만 조회

In [80]:
result2 = result[result['sepal_width'] < 3].reset_index(drop=True)
result2

   sepal_length  sepal_width  petal_length  petal_width species
0           4.4          2.9           1.4          0.2  setosa
1           4.5          2.3           1.3          0.3  setosa

- AND 조건 : &
- OR 조건 : |

In [ ]:
iris[(조건식1) & (조건식2) & (조건식3)]

In [83]:
result3 = iris[(iris['species'] == 'setosa') & (iris['sepal_width'] < 3)].reset_index(drop=True)
result3

   sepal_length  sepal_width  petal_length  petal_width species
0           4.4          2.9           1.4          0.2  setosa
1           4.5          2.3           1.3          0.3  setosa